# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment/OS-specific files
*.env
*.DS_Store

# Ignore IDE/Editor settings
.vscode/
*.swp
.idea/
