# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment/OS-specific files
*.env
*.DS_Store

# Ignore IDE/Editor settings
.vscode/
*.swp
.idea/


# Ignore credentials and token files
InfoAgent/credentials.json
InfoAgent/token.pickle